p {
    font-family: cursive;
    background-color: aliceblue;
    border-radius: 0 100px 0 100px;
    width: 150px;
    text-align: center;
}
body{
    background-color: lightblue;
}
h3{
    background-color: honeydew;
    border-radius: 0 100PX 0 100PX;
    padding: 40PX;
    width: 150PX;
    text-align: center;

}
img{
    width: 150px;
    height: 200px;
}